<%= form_with(model: [@account, @course], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Nombre del curso" %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= form.label :conclude_at %>
    <%= form.datetime_select :conclude_at %>
  </div>

  <div class="field">
    <%= form.label :course_code %>
    <%= form.text_field :course_code %>
  </div>
  
  <div class="field">
    <%= form.label :account_id %>
    <%= form.number_field :account_id, value: @course.account_id, readonly: true %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
