<%if @account%>
    <div>
        <h2>Estudiante:<%= @account.name%></h2>
    </div>
    <br>
    <%= link_to 'Add course', new_account_course_path(@account.id)%> |
    <%= link_to 'Back to home path', root_path%> |
    <%= link_to 'Edit', edit_account_path(@account.id)%> |
    <%= form_with(url: account_path(@account.id), method: :delete, data: { confirm: 'Do you want to delete this account?' }) do %>
      <%= submit_tag 'Delete' %>
    <% end %>
    <br>
    <% if @courses.any? %>
        <h2>Cursos:</h2>
        <% @courses.each do |course| %>
        <div>
            <h4>Nombre del curso:</h4><%= course.name %>
            <h4>Codigo del curso:</h4><%= course.course_code %>
            <h4>Comienza:</h4><%= course.start_at %>
            <h4>Termina:</h4><%= course.conclude_at %>
            <br>
            <br>
            <%= link_to 'Show', account_course_path(@account, course) %> |
            <%= link_to 'Edit', edit_account_course_path(@account, course) %> |
            <%= form_with(url: account_course_path(@account, course), method: :delete, data: { confirm: 'Do you want to delete this course?' }) do %>
              <%= submit_tag 'Delete' %>
            <% end %>
      </div>
      <hr>
    <% end %>
  <% else %>
    <p>No courses found.</p>
  <% end %>
<% end %>